[Desktop Entry]
Encoding=UTF-8
Name=KNetStats
GenericName=KNetStats
Comment=Netwrok monitor
Exec=knetstats
Icon=/usr/share/apps/knetstats/pics/knetstats.png
Terminal=false
Type=Application
Categories=Application;Network;
StartupNotify=true
Categories=KDE;Application;Network;

Comment[ky]=Такрамактын монитор жабдыгы
Comment[pt_BR]=Um monitor de rede